.row
  .large-6.columns
    %h1 All Products

.row
  .large-12.columns
    %table
      %tr
        %th Name
        %th Active
        %th
        %th
        %th

      - @products.each do |product|
        %tr
          %td= product.name.titleize
          %td= link_to 'Show', category_product_path(@category, product)